@import "reset.css";

.wrap {
  max-width: 1250px;
  width:100%;
  margin: 0 auto;
}

.headhead{
    background-color: yellow;
}

header{
    background-color: brown;
}
.page-header{
    background-color: #A6D2CD;
    width: 100%
}

h1 {
  font-size: 3.5em;
  text-align: center;
  color: #fff;
  background-color:#309488;
  background: linear-gradient( to right, #309488, 65%, #c1eead);
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 15px;
}

#logo {
  width: 120px;
  height: 120px;
  margin-top: -150px;
  padding-bottom: 10px;
}



body {
  font-family: 'Mukta Malar', sans-serif;
  background-color: #A6D2CD;
}

.navbar {
  margin: 0;
  padding: 0;
  margin-top: 5px;
  width: 250px;
  background-color: #309488;
  background: linear-gradient( #309488, 70%, #c1eead);
  position: fixed;
  height: 100%;
  overflow: auto;
  border-radius: 15px;

}

.navbar a {
  display: block;
  color: #fff;
  padding-top: 30px;
  padding-left: 20px;
  text-decoration: none;
  font-size: 1.4em;
}
.log-button {
  background-color: #9794b5;
  border-radius: 10px;
  color: #c1eead;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: none;
  cursor: pointer;
  width: 100px;
  font-size: 1em;
  margin-top: 260px;
  margin-left: 15px;
}

.log-button:hover {
  background-color: purple;
}



.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-wrap {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-wrap input[type=text], .form-wrap input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-wrap input[type=text]:focus, .form-wrap input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-wrap .btn {
  background-color: #309488;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-wrap .cancel {
  background-color: red;
}

/* hover effect sur les boutons */
.form-wrap .btn:hover, .log-button:hover {
  opacity: 1;
}
.form-wrap label {
  color: #309488;
}

#equipe{
  color: #FFF;
  background-color: #309488;
  width: 100%;
  height: 400px;
}
#equipe .section1 {
  float: left;
  width: 25%;
  padding-top: 50px;
  color: #FFF;
  /*transition: all 0.5s;*/
  text-align: center;
  /*overflow: auto;*/
}



