@import "reset.css";
<<<<<<< HEAD

.wrap {
  max-width: 1500px;
  width:100%;
  margin: 0 auto;
}

.headhead{
    background-color: yellow;
=======
html{
    background-color: lime;
>>>>>>> cfec75e0078895745efe475881cc844594dda6db
}

header{
    background-color: brown;
}
<<<<<<< HEAD
.page-header{
    background-color: #A6D2CD;
    width: 100%
}

h1 {
  font-size: 2.5em;
  text-align: center;
}

body {
  background-color: #A6D2CD;
}

.navbar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #309488;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.navbar a {
  display: block;
  color: #fff;
  padding: 16px;
  text-decoration: none;
}
=======
#page-title{
    background-color: white;
}
>>>>>>> cfec75e0078895745efe475881cc844594dda6db
